id: rest-service-blue-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: rest-service-blue
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: rest-service-blue
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: rest-service-blue
      app: rest-service-blue
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: rest-service-blue
        containers:
          - name: rest-service-blue
            image: octoblu/rest-service:$SHORT_COMMIT
            ports:
              - containerPort: 80

